header {font-family: arial;
	background-color: white;
}

body {font-family: Arial, Veranda, sans-serif;
	background-color: rgb(185, 179, 175);
}

h1 {font-familt: sans-serif;
	background-color: red;
}

b {background-color: black;
	color: white;
}